<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="main">
    <div class="chat">
      <div *ngFor="let user of allRestaurents">
        <button mat-stroked-button (click)="selectedChat(user.restaurantName, user.emailId)">
          <div class="specificUser">
            <div id="name">{{user.restaurantName}}</div>
            <span id="email" style="color: grey">{{user.emailId}}</span>
          </div>
        </button>
      </div>
    </div>
    <div class="chat" *ngIf="selectedUserName!=''">
      <div class="title"> {{selectedUserName}}</div>
      <div>
        <button mat-button (click)="getMessages()">refresh</button>
      </div>
      <div class="messages">
        <div *ngFor="let message of messages">
          <div>
            <!-- <mat-chip-list> -->
            <p>You: {{message.message}}</p>
            <p>{{message.senderEmailId}}: {{message.message}}</p>
          <!-- </mat-chip-list> -->
          </div>
        </div>
      </div>
      <div class="inputbox">
        <mat-form-field class="messageInput" appearance="outline">
          <mat-label>Message</mat-label>
          <input matInput placeholder="Message {{selectedUserName}}" [(ngModel)]="message" (keydown.enter)="sendMessage()">
          <button mat-button type="submit"  style="margin-left: -70px;"><mat-icon matSuffix>send</mat-icon></button>
        </mat-form-field>
      </div>
    </div>  
  </div>